<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="ISO-8859-1">
    <title>Notes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <header>
        <div class="d-flex justify-content-around">
            <a th:href="@{/}"><img th:src="@{/img/notes2.png}" alt="My Notes logo" height="80px" width="240px"></a>
            <div class="pt-4">
                <a th:href="@{logout}" class="h4">Sign Out</a>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
                <a class="nav-item nav-link" th:href="@{/}">Home</a>
                <a class="nav-item nav-link" href="/about_us">About us</a>
                <a sec:authorize="isAuthenticated()" class="nav-item nav-link" th:href="@{notes}">Notes</a>
                <a sec:authorize="hasAuthority('ADMIN')" class="nav-item nav-link" th:href="@{users}">Users</a>
            </div>
        </div>
    </nav>
    <div class="pt-4">
        <div class="d-flex justify-content-center">
            <a th:href="@{add_new_note}" class="h4">Add new note</a>
        </div>
        <div>
            <div th:each="note: ${notesList}">
                <div class="d-flex justify-content-start">
                    <a th:href="@{edit/{id}(id = ${note.getId()})}" class="p-2"><h4 th:text="${note.title}"></h4></a>
                    <a th:href="@{delete/{id}(id = ${note.getId()})}" class="pt-2 pr-2"><img th:src="@{/img/cross-mark.png}" alt="My Notes logo" height="14px" width="14px"></a>
                </div>
                <div class="pl-4 pb-3 text-break">
                    <p th:text="${note.note}">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>